
<nb-card id="everything">
  <nb-card-header>
      <img src="../assets/balloons2.png">
  </nb-card-header>
  <nb-card-body>
      <mat-grid-list class="big" cols="4" rowHeight="200px">
          <mat-grid-tile>
              <img (mouseover)="animate('logo')" [@rotate]="this.animationLogo" id="logo" src="../assets/personal-logo.png">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="container demo">
                  <div class="content">
                     <div id="large-header" class="large-header" routerLink="pictionarAI-intro">
                        <h1 class="main-title">Bradley Brown</h1>
                        
                      </div>
                  </div>
               </div>
          </mat-grid-tile>
          <mat-grid-tile>
                <mat-grid-list id="icons" cols="2" rowHeight="90px">
                        <mat-grid-tile>
                              <a class="a" href="https://www.linkedin.com/in/bradleycabrown" target="_blank"><i (mouseover)="animate('li')" [@flip]="this.animationLI" class="fab fa-linkedin icon"></i></a>
                          </mat-grid-tile>    
                          <mat-grid-tile>
                              <a class="a" href="https://drive.google.com/file/d/1OwaeU368mckU7vZtrsaVaHN51buwfo3q/view?usp=sharing" target="_blank" (mouseover)="animate('resume')"><i [@wobble]="this.animationR" class="fas fa-file icon"></i></a>
                        </mat-grid-tile>
                        <mat-grid-tile>
                              <a class="a" href="mailto:bradley19brown@gmail.com" (mouseover)="animate('email')"><i [@jello]="this.animationE" class="fas fa-envelope-square icon"></i></a>
                          </mat-grid-tile>
                          <mat-grid-tile>
                              <a class="a" href="https://github.com/BradleyBrown19" target="_blank" (mouseover)="animate('git')"><i [@swing]="this.animationG" class="fab fa-github icon"></i></a>
                          </mat-grid-tile>
                    </mat-grid-list> 
            </mat-grid-tile>
              
      </mat-grid-list>
      <mat-grid-list class="small" cols="2" rowHeight="200px">
        <mat-grid-tile>
              <h1><b>Bradley Brown</b></h1>
        </mat-grid-tile>
        <mat-grid-tile>
              <mat-grid-list id="icons" cols="2" rowHeight="90px">
                      <mat-grid-tile>
                            <a class="a" href="https://www.linkedin.com/in/bradleycabrown" target="_blank"><i (mouseover)="animate('li')" [@flip]="this.animationLI" class="fab fa-linkedin icon"></i></a>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <a class="a" href="https://drive.google.com/file/d/1OwaeU368mckU7vZtrsaVaHN51buwfo3q/view?usp=sharing" target="_blank" (mouseover)="animate('resume')"><i [@wobble]="this.animationR" class="fas fa-file icon"></i></a>
                      </mat-grid-tile>
                      <mat-grid-tile>
                            <a class="a" href="mailto:bradley19brown@gmail.com" (mouseover)="animate('email')"><i [@jello]="this.animationE" class="fas fa-envelope-square icon"></i></a>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <a class="a" href="https://github.com/BradleyBrown19" target="_blank" (mouseover)="animate('git')"><i [@swing]="this.animationG" class="fab fa-github icon"></i></a>
                        </mat-grid-tile>
                  </mat-grid-list> 
          </mat-grid-tile>
            
    </mat-grid-list>

      <div>
            <p><i>2B Software Engineering | University of Waterloo</i></p>
      </div>

      <div id="buttons">
        <a class="button" target="_blank" href="https://drive.google.com/file/d/1OwaeU368mckU7vZtrsaVaHN51buwfo3q/view?usp=sharing">Résumé</a>
        <a class="buttonr" (click)="this.startGame()">Play Game!</a>
    </div>
      
    </nb-card-body>
</nb-card>
<div id="game">
        <nb-card #gameCard id="game-card">
                <nb-card-header id="game-header">
                        <img id="game-balloon" src="../assets/balloons2.png">
                </nb-card-header>
                <nb-card-body>
                    <p #instructions></p>
                    <div id="game-body">
                        <div id="buttons">
                            <a class="gamebuttonr" (click)="this.endGame()">Back</a>
                            <a class="gamebuttonr" (click)="this.restartGame()">Restart</a>
                        </div>
                        <h1>{{this.score}}</h1>
                    </div>
                </nb-card-body>
            </nb-card>
            <div #gameScreen id="game-screen">

            </div>
</div>
